/* Site Styles Go Here */
.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex {
    flex: 0 1 auto;
}

/* Make the a tags turn Dark red on hover with mouse and also, ease into it to make the user experience better */
a:hover {
    color: darkred;
    transition: all 0.4s ease;
}

/* Custom pseudo element for styling this h1 tag with a pre - hello  */
h3::before {
    content: 'hello';
    background: darkgreen;
    font-size: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Fun fade effect on images */
img {
    opacity: 0.5;
}

img:hover {
    opacity: 1;
}